.simple_form .btn {
  float: right;
  margin: 5px; }

#admin {
  padding-top: 60px; }
  #admin .menu {
    margin: 0; }
    #admin .menu li {
      list-style: none;
      font-size: 1.8em;
      color: red;
      padding: 0 0 0 0;
      line-height: 2em; }
