-# XXX: unused? 
#whoisthis
  #right_200
    .follow
      %p
        %strong
          %span.floatleft
            %font{:color => "white"} Status:
        %span.floatright
          - follow = Follow.for_users(current_user, @user).first
          - if current_user == @user
            %font{:color => "white"} This is you
          - elsif follow.present?
            %font{:color => "white"}= follow.relationship_with_user(@user).titleize
          - else
            %font{:color => "white"} Not connected

      %p
        - if follow = Follow.for_user_following(current_user, @user)
          = link_to "Unfollow", user_follow_path(current_user, follow), :method => :delete, :remote => true, :class => 'floatright'
        - else
          = link_to "Follow", user_follows_path(current_user, :follow => { :followable_type => User.to_s, :followable_id => @user.id }), :method => :post, :remote => true, :class => 'floatright' if current_user != @user

