.span4.news
  .box_header
    %h2 NEWS

  .box_contents
    .news_item
      %strong 13.1.12
      %br
      Copenhagen records joins Koblo!

    .news_item
      %strong 12.1.12
      %br
      New design - same samples. Koblo has got a new design to make it fast and easy for you to buy your favourite samples. 

    .news_item
      %strong 10.1.12
      %br
      New feature in the shop! Listen to your tracks before you buy. Every track can be played solo. 
