Hej, 

<p>
  Der er uploadet en ny sang med titlen <%= link_to @new_song.title, edit_admin_song_path(@new_song, :only_path => false) %>.
</p>

<p>
  Desuden venter følgende sange stadig på at blive godkendt:
  <ul>
  <%= raw @waiting_songs.map { |s| content_tag "li", s.title }.join %>
  </ul>
</p>

<p>
  Se alle sangene <%= link_to "her", admin_songs_path(:only_path => false) %>.
</p>

