.remixes
  .remix-badge
    h4
      color: #888
      margin-bottom: 6px
    .thumbnail
      border: 1px solid #fff
      background-color: #fff
      .image-box
        border-radius: 10px
        -webkit-background-clip: padding-box 
        -moz-background-clip:    padding 
        background-clip:         padding-box
        width:  190px
        height: 190px
      
      min-height:   290px
      
  .remixer
    color: #888
    margin-top: 6px
  .label-price
    background-color: #f8f8f8
    color: #888
    border: 1px solid #999

